<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Free Metal Suggestions</title>
  <link rel="stylesheet" href="/css/foundation.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <link rel="stylesheet" href="/css/pygments.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script>
    {% capture pageYear %}{{ page.categories[0] }}{% endcapture %}
    {% capture pageGenre %}{{ page.categories[1] }}{% endcapture %}
    var urls = [
      {% for info in site.data[pageYear][pageGenre] %}
        "https://bandcamp.com/EmbeddedPlayer/{{info.type}}={{info.id}}/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/",
      {% endfor %}
    ];

    function appendIframe(count) {
      if (urls.length > 0) {
        iframe = document.createElement('iframe');
        iframe.src = urls.shift();
        iframe.seamless = true;

        if (count > 0) {
          $(iframe).on("load", function () {
            appendIframe(count - 1);
          });
        }

        $('#content').append(iframe);
      }
    }

    function handleScroll(event) {
      var position = $(window).scrollTop();
      var bottom = $(document).height() - $(window).height() - 300;
      if (position >= bottom) {
        appendIframe();
      }
    }

    $(document).ready(function () {
      appendIframe(5);
      $(window).on("scroll", handleScroll);
      $(document.body).on("touchmove", handleScroll);
    });
  </script>
</head>

<body>
  <div class="row">
    <div class="small-7 small-centered columns">
      <div class="column row title">
        <h1>Free Metal Suggestions</h1>
      </div>
      <div class="column row">
        <h2>
          {% capture years %}{% for d in site.data %}{{ d[0] }},{% endfor %}{% endcapture %}
          {% assign years = years | split: "," | sort | reverse %}
          {% for year in years %}
            {% if year == pageYear %}{{ pageYear }}{% else %}<a href="/{{ year }}/aoty">{{ year }}</a>{% endif %}{% unless forloop.last %},{% endunless %}
          {% endfor %}
        </h2>
      </div>
      <div class="column row">
        <h3>
          {% capture genres %}{% for genre in site.data[pageYear] %}{{ genre[0] }},{% endfor %}{% endcapture %}
          {% assign genres = genres | split: "," | sort %}
          {% for genre in genres %}
            {% if genre == pageGenre %}{{ pageGenre }}{% else %}<a href="/{{ pageYear }}/{{ genre | downcase }}">{{ genre }}</a>{% endif %}{% unless forloop.last %},{% endunless %}
          {% endfor %}
        </h3>
      </div>

      <div id="content">
        {{ content }}
      </div>

      <hr />
      <div class="row footer">
        <div class="small-9 columns">
          <a href="/">faq</a>,
          <a href="https://linktr.ee/free_art_ideas">linktree</a>,
          <a href="/">stupid fucking resume</a>,
          <a target="_blank" href="http://soundcloud.com/3nnn">sound</a>.
        </div>
      </div>
    </div>
  </div>
</body>

</html>