<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Free Metal Suggestions</title>
  <link rel="stylesheet" href="/css/foundation.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <link rel="stylesheet" href="/css/pygments.css" />
</head>

<body>
  <div class="row">
    <div class="small-7 small-centered columns">
      <div class="column row title">
        <h1>Free Metal Suggestions</h1>
      </div>
      <div class="column row">
        <h2>
          <a href="/">2020</a>,
          <a href="/">2019</a>,
          <a href="/">2018</a>,
          <a href="/">2017</a></h2>
      </div>
      <div class="column row">
        <h3>
          <a href="/">AOTY</a>,
          <a href="/">Death</a>,
          <a href="/">Black</a>,
          <a href="/">Doom</a>,
          <a href="/">Sludge</a>,
          <a href="/">Stoner</a>,
          <a href="/">Industrial</a>,
          <a href="/">Electronic</a>,
          <a href="/">EBM</a>,
          <a href="/">?</a>
        </h3>
      </div>

      {{ content }}

      <hr />
      <div class="row footer">
        <div class="small-9 columns">
          <a href="/">faq</a>,
          <a href="/">spreadsheets</a>,
          <a href="/">instagram</a>,
          <a href="/">stupid fucking resume</a>,
          <a target="_blank" href="http://soundcloud.com/3nnn">sound</a>.
        </div>
        <div class="small-3 columns right">
          <a target="_blank" href="">CC BY-NC-ND</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>