<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Free Metal Suggestions</title>
  <link rel="stylesheet" href="/css/foundation.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <link rel="stylesheet" href="/css/pygments.css" />
</head>

<body>
  <div class="row">
    <div class="small-7 small-centered columns">
      <div class="column row title">
        <h1>Free Metal Suggestions</h1>
      </div>
      <div class="column row">
        <h2><a href="/">spreadsheets</a>, <a href="/">insta</a>, <a href="/">resume</a>,
          <a target="_blank" href="http://soundcloud.com/3nnn">sound</a>.</h2>
      </div>

      {{ content }}

      <hr />
      <div class="row footer">
        <div class="small-9 columns">
          <a href="/">spreadsheets</a>,
          <a href="/">instagram</a>,
          <a href="/">stupid resume</a>,
          <a target="_blank" href="http://soundcloud.com/3nnn">sound</a>,
        </div>
        <div class="small-3 columns right">
          <a target="_blank" href="">CC BY-NC-ND</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>