---
layout: default
---
<div class="hentry">
  <h2 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2> 
  <p class="updated">{{ page.date | date: "%m/%d/%Y" }}</p>
  <div class="entry-content">
    {{ page.excerpt }}
    {{ page.content }}
  </div>
</div>

<script>
var idcomments_acct = '93621d718ef7ca863457e9b033d1faf2';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>