<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Justin Marney</title>
  <link rel="stylesheet" href="/css/foundation.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <link rel="stylesheet" href="/css/pygments.css" />
</head>

<body style="padding: 0 0 0 20px;">
  <div class="row">
    <div class="small-12 small-centered columns">
      <div class="column row title">
        <h1>Justin Marney</h1>
      </div>
      <div class="column row title">
        <p><a href="mailto:gotascii@gmail.com">gotascii@gmail.com</a></p>
      </div>

      {{ content }}
    </div>
  </div>
</body>

</html>